.inp {
  position: relative;
  margin: 0 auto;
  width: 37vw;


  .label {
    position: absolute;
    top: 5px;
    left: 0;
    font-size: 4vh;
    color: white;
    font-weight: 500;
    transform-origin: 0 0;
    transition: all 0.2s ease;

  }
  .border {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background: darkblue;
    transform: scaleX(0);
    transform-origin: 0 0;
    transition: all .15s ease;
  }
}

.search_module {
  position: relative;
  .search_button {
    position: absolute;
    bottom: 75px;
    right: 50px;
  }
  form {
    width: 4vw;
    .inp {
      position: absolute;
      bottom: 70px;
      left: 50px;
    }
    input {
      width: 100%;
      border: 0;
      font-family: inherit;
      padding: 12px 0;;
      height: 48px;
      font-size: 20px;
      font-weight: 500;
      border-bottom: 2px solid white;
      background: none;
      border-radius: 0;
      color: white;
      transition: all .15s ease;

      &:hover {
        background: rgba(34, 50, 84, 0.03);
      }
      &:not(:placeholder-shown) +span {
        color: darkblue;
        transform: translateY(-26px) scale(.75);
      }
      &:focus {
        background: none;
        outline: none;

      }
    }
  }
}
.inp input:focus + span {
  color: darkblue;
  transform: translateY(-26px) scale(0.75);
}

.inp input:focus + span + .border {
  transform: scaleX(1);
}