@import "variables";
@import "mixins";

header {
  display: flex;
  justify-content: space-evenly;
}
.main_form {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 95%;
  height: 40vh;
  min-height: 250px;
  margin: 10px auto;
  position: relative;
  flex-wrap: wrap;
  .btn {
    position: absolute;
    bottom: 8px;
    right: 35%;
    @media screen and #{$tablet} {
      bottom: 10px;
      right: 40%;
    }
    @media screen and #{$desktop} {
      right: 45%;
      bottom: 0;
    }
  }
}
.contact_form {
  display: flex;
  flex-direction: column;
  //justify-content: space-evenly;
  height: 70%;
  width: 55%;
}
.inputs {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  margin-bottom: 2.5vh;
}
.input-container {
  display: flex;
  margin: 10px 0 0 0;
  height: 4vh;
  width: 90%;
  border: 2px solid cornflowerblue;
  position: relative;
  @media screen and (min-height: 1300px) {
    height: 3vh;
  }
  input {
    @media screen and #{$tablet} {
      font-size: 2.2vh;
      padding-left: 9%;
    }
    @media screen and #{$desktop} {
      font-size: 2.5vh;
      padding-left: 6%;
      @media screen and (min-height: 1300px) {
        padding-left: 10%;
        font-size: 2.2vh;
      }
    }
    width: 100%;
    outline: none;
    font-size: 2vh;
    padding-left: 12%;
    color: darkblue;
    box-shadow: $smallerInnerShadow;
    &:focus {
      border: 2px solid darkblue;
    }
  }
  input::placeholder {
    color: #066ACA;
    opacity: 0.5;
  }
  .icon {
    padding: 3px;
    background: darkblue;
    color: white;
    width: 5vw;
    text-align: center;
    font-size: 2vh;
    line-height: 3vh;
    @media screen and #{$tablet} {
      font-size: 2.2vh;
    }
    @media screen and #{$desktop} {
      font-size: 2.5vh;
      width: 2.5vw;
      @media screen and (min-height: 1300px) {
        width: 6.5vw;
      }
    }

  }
  .check_icon {
    position: absolute;
    bottom: 20%;
    left: 17%;
    color: cornflowerblue;
    font-size: 2vh;
    @media screen and #{$tablet} {
      left: 14%;
      font-size: 2.2vh;
    }
    @media screen and #{$desktop} {
      left: 11%;
      font-size: 2.5vh;
      @media screen and (min-height: 1300px) {
        left: 16%;
        bottom: 13%;
      }
    }

  }
  .pass_icon {
    position: absolute;
    bottom: 20%;
    right: 15%;
    color: cornflowerblue;
    width: 0.1vw;
    height: auto;
    font-size: 2vh;
    @media screen and #{$tablet} {
      font-size: 2.2vh;
      right: 10%;
    }
    @media screen and #{$desktop} {
      font-size: 2.5vh;
      right: 8%;
    }
    @media screen and (min-height: 1300px) {
      right: 11%;
      bottom: 11%;
    }
    &:active {
      color: #000066;
    }
  }
}

//Select styles
.select_form{
  width: 90%;
  padding: 0;
  display: flex;
  margin-bottom: 2.2vh;
  @media screen and #{$tablet} {
    margin-bottom: 1.8vh;
  }
  @media screen and #{$desktop} {
    margin-bottom: 2vh;

  }
  .subject_box {
    position: relative;
    width: 50%;
    border-right: 1px solid white;
    @media screen and #{$desktop} {
      border-right: 2px solid white;
    }
  }
  .countries_box{
    position: relative;
    width: 50%;
    border-left: 1px solid white;
    @media screen and #{$desktop} {
      border-left: 2px solid white;
    }
  }
  //Remove IE arrow
  select::-ms-expand {
    display: none;
  }
  select {
    width: 100%;
    height: 3vh;
    background-color: darkblue;
    font-size: 1.6vh;
    color: white;
    border: none;
    -webkit-appearance: button;
    outline: none;
    text-indent: 10px;
    overflow: hidden;
    @media screen and #{$tablet} {
      font-size: 1.8vh;
    }
    @media screen and #{$desktop} {
      font-size: 2vh;
      text-indent: 10px;
    }
    @media screen and (min-height: 1300px) {
      font-size: 1.8vh;
    }
    //&:focus {
    //  background: cornflowerblue;
    //}
    option {
      background: #066ACA;
      color: darkblue;
      //height: 0.2vh;
      font-size: 1.2vh;
      @media screen and #{$tablet} {
        font-size: 1vh;
      }
      @media screen and #{$desktop} {
        font-size: 1.7vh;
      }
      @media screen and (min-height: 1300px) {
        font-size: 1vh;
      }
      padding: 0;
      margin: 0;
      width: 3vw;
      overflow: hidden;
      outline: none;
      border: none;
    }
    option[disabled] {
      background-color: white;


    }
  }
  .subject_box::before {
    content: "\f13a";
    font-family: FontAwesome, serif;
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    height: 100%;
    text-align: center;
    line-height: 140%;
    color: white;
    background-color: cornflowerblue;
    pointer-events: none;
    @media screen and #{$tablet} {
      font-size: 2.2vh;
    }
    @media screen and #{$desktop} {
      font-size: 2.5vh;
      line-height: 120%;
    }
  }
  .subject_box:hover::before {
    color: darkblue;
  }


  .subject_box:active::before {
    color: white;

  }
  .countries_box::before {
    content: "\f13a";
    font-family: FontAwesome, serif;
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    height: 100%;
    text-align: center;
    line-height: 140%;
    color: white;
    background-color: cornflowerblue;
    pointer-events: none;
    @media screen and #{$tablet} {
      font-size: 2.2vh;
    }
    @media screen and #{$desktop} {
      font-size: 2.5vh;
      line-height: 120%;
    }
  }
  .countries_box:hover::before {
    color: darkblue;
  }
  .countries_box:active::before {
    color: white;
  }
}

//textarea style
.area_box {
  height: 4.3vh;
}
textarea {
  resize: none;
  width: 90%;
  font-size: 2vh;
  padding: 5px 10px;
  border: 2px solid cornflowerblue;
  transition: all 0.5s ease-in-out;
  height: 4.5vh;
  color: darkblue;
  box-shadow: $smallerInnerShadow;
  border-radius: 5px;

  &:focus {
    border: 3px solid darkblue;
    font-size: 2vh;
    height: 7vh;
    outline: none;
    @media screen and #{$tablet} {
      height: 8.3vh;
    }
    @media screen and #{$desktop} {
      height: 10vh;
    }
  }
  &::placeholder{
    opacity: 0.5;
    color: #066ACA;
  }
}

//Radio+checks
.survey_form {
  width: 40%;
  .checks {
    display: flex;
    flex-direction: column;
    margin-top: 1.5vh;
    @media screen and #{$desktop} {
      margin-top: 0;
    }
    p {
      margin: 0;
      font-size: 2vh;
      text-align: left;
      @media screen and #{$desktop} {
        font-size: 2.5vh;
      }
    }
  }
}
.survey_checkbox {
  margin-top: 2vh;
  @media screen and #{$desktop} {
    margin-top: 0;
  }
  .tooltip {
    margin-top: 0;
  }
}
.inputGroup {
  background-color: white;
  margin: 1vh 0;
  position: relative;
  width: 100%;
  height: 3vh;
  border: 2px solid cornflowerblue;
  box-shadow: $smallerInnerShadow;
  @media screen and #{$desktop} {
    height: 4vh;
    @media screen and (min-height: 1300px) {
      height: 3vh;
    }
  }
  .top {
    width: 150px;
    p {
      font-size: 1.4vh;
      text-align: left;
      z-index:9999;
    }
  }
  input {
    @media screen and #{$desktop} {
      height: 4vh;
      @media screen and (min-height: 1300px) {
        height: 3vh;
      }
    }
    width: 100%;
    height: 2.5vh;
    padding-left: 10px;
    order: 1;
    z-index: 1;
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    visibility: hidden;

    //  TO hide checks/radio default buttons
  }
  label {
    @media screen and #{$desktop} {
      height: 4vh;
      padding: 0;
      line-height: 4vh;
      font-weight: bold;
      @media screen and (min-height: 1300px) {
        height: 3vh;
        line-height: 3vh;
      }
    }
    font-size: 1.7vh;
    text-indent: 1.5vw;
    padding: 2px 0;
    line-height: 2.7vh;
    width: 100%;
    height: 2.5vh;
    display: block;
    text-align: justify;
    color: darkblue;
    cursor: pointer;
    position: relative;
    z-index: 1;
    transition: color 0.5s ease-in;
    overflow: hidden;
    //this before adds the checkbox + bg color when checked
    &:before {
      @media screen and #{$desktop} {
        font-size: 2.5vh;
      }
      width: 10px;
      height: 10px;
      content: '';
      background-color: darkblue;
      position: absolute;
      font-size: 2vh;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%) scale3d(1, 1, 1);
      transition: all 300ms cubic-bezier(0.4, 0.0, 0.2, 1);
      opacity: 0;
      z-index: -1;
    }
    //this after add bg color + check image
    &:after {
      @media screen and #{$tablet} {
        width: 23px;
        height: 23px;
        background-position: -1px 1px;
      }
      @media screen and #{$desktop} {
        width: 30px;
        height: 30px;
        background-position: -2px -2px;
        background-size: 45px 45px;
        right: 35px;
        top: 50%;
      }
      width: 17px;
      height: 17px;
      content: '';
      border: 2px solid cornflowerblue;
      background-color: #fff;
      background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
      background-repeat: no-repeat;
      background-position: -4px -4px;
      border-radius: 50%;
      z-index: 2;
      position: absolute;
      right: 15px;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      transition: all 0.5s ease-in;
    }
  }

  input:checked ~ label {
    color: #fff;
    //this before makes visible the label;
    &:before {
      transform: translate(-50%, -50%) scale3d(56, 56, 1);
      opacity: 1;
    }
    //checkmark style when checked
    &:after {
      background-color: cornflowerblue;
      border: 2px solid white;
    }
  }

}

//Submit style
.main_form {
  .btn:link,
  .btn:visited{
    text-decoration: none;
    text-transform:uppercase;
    transition: all .5s;
  }

  .btn:hover{
    box-shadow: $boxShadowBefore;
    transform : translateY(-3px);
  }

  .btn:active{
    box-shadow: $boxShadowBefore;
    transform: translateY(-1px);
  }

  .btn-bottom-animation-1{
    animation:comeFromBottom 1s ease-out .8s;
  }

  .btn::after{
    content:"";
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    border-radius: 8px;
    z-index:-1;
    transition: all .5s;
  }

  .btn-white::after {
    background: #fff;
  }

  .btn-animation-1:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
    background: cornflowerblue;
    box-shadow: $boxShadowBefore;
  }

  @keyframes comeFromBottom{
    0%{
      opacity:0;
      transform:translateY(40px);
    }
    100%{
      opacity:1;
      transform:translateY(0);
    }
  }
}
#main_postSubmit {
  height: 40vh;
  font-size: 1em;
  min-height: 250px;
  @media screen and #{$tablet} {
    height: 40vh;
    font-size: 1.3em;
  }
  @media screen and #{$desktop} {
    height: 50vh;
    font-size: 1.5em;
    @media screen and (min-height: 1300px) {
      font-size: 1em;
      height: 40vh;
      min-height: 1.6em;
    }
  }
  h3 {
    text-align: center;
  }
  p {
    text-align: center;
  }
}