
.dropdown {

  display: inline-block;
  perspective: 500px;
  transition: transform 2s;
}
.flip-box-inner {
  position: relative;
  transition: transform 1s;
  transform-style: preserve-3d;
}
.dropdown{
  &:hover {
    .flip-box-inner {
      transform: rotateX(180deg);
    }
    .flip-box-front {
      display: none;
    }
  }
}
.dropdown-content {
  transform: rotateX(180deg);
  display: none;
  padding: 0;
  li {
    display: flex;
    justify-content: center;
    padding: 0;
    //margin: 5px;
    a{
      @media screen and #{$tablet}{
        width: 8vh;
      }
      @media screen and #{$desktop} {
        width: 9vh;
        margin: 5px 0;
      }
      font-size: 1.8vh;
      text-decoration: none;
      width: 6vh;
      margin: 2px 0;
      text-align: center;
      @include buttonStyle();
    }
  }
  .ldt-slide-bottom-in {
    animation-delay: 0.8s;
  }
  .ldt-slide-top-in {
    animation-delay: 0.8s;
  }
}

.dropdown:hover .dropdown-content {
  display: block;
}

