
@mixin transition() {
  transition: all 0.7s ease-in-out;
}

@mixin buttonStyle() {
  @media screen and #{$tablet}{
    font-size: 2.2vh;
  }
  @media screen and #{$desktop} {
    font-size: 2.6vh;
  }
  font-size: 1.8vh;
  height: auto;
  padding: 5px 10px;
  border-radius: 1vh;
  background: cornflowerblue;
  color: white;
  border: 2px solid white;
  cursor: pointer;
  outline: none;
  @include transition();
  box-shadow: $boxShadow;
  &:hover {
    background: white;
    color: cornflowerblue;
    box-shadow: $boxShadowBefore;
    outline: none;
    border: 2px solid darkblue;
    @include transition();
  }
  &:active {
    outline: none;
    color: darkblue;
    box-shadow: $smallerInnerShadow, $boxShadow;
  }
  &:focus {
    color: darkblue;
    background: cornflowerblue;
  }
}
