.app_container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  .gray_bg {
    background-color: hsla(0, 0%, 0%, 0.5);
    width: 100vw;
    height: 120vh;
    z-index: 1;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
  }
  .modal {
    @media screen and #{$tablet} {
      width: 70vw;
      min-width: 650px;
    }
    @media screen and #{$desktop} {
      width: 50vw;
      min-width: 840px;
    }
    position: absolute;
    max-width: 450px;
    min-width: 300px;
    width: 90vw;
    height: auto;
    background: $gradient1;
    top: 35px;
    border: 3px solid darkblue;
    box-shadow: $boxShadow;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;

    header {
      font-family: RussoOne, sans-serif;
      border-radius: 10px;
      text-align: center;
      background: darkblue;
      border: 3px solid cornflowerblue;
      height: 8vh;
      min-height: 55px;
      display: flex;
      //justify-content: center;
      align-items: center;
      @media screen and #{$mobile} {
        @media screen and (min-height: 800px) {
          height: 5vh;
        }
      }
      @media screen and #{$tablet} {
        font-size: 1.2em;
      }
      @media screen and #{$desktop} {
        font-size: 3vh;
      }
    }
    main {
      padding: 10px 5px;
      @media screen and #{$desktop} {
        height: 50vh;
        max-height: 500px;
      }
      background-image: url('/assets/images/modal_bg.gif');
      background-position: center;
      background-size: contain;
      overflow: hidden;
      background-repeat: no-repeat;
      background-color: #066ACA;
      border: 3px solid white;
      border-radius: 10px;
      height: auto;
      display: flex;
      justify-content: space-evenly;
      flex-direction: column;
      box-shadow: $innerShadow;
      article {
        h5 {
          padding-left: 5vw;
          color: darkblue;
          margin: 15px 0 0 0;
          font-size: 0.7em;
          @media screen and #{$tablet} {
            font-size: 1.1em;
          }
          @media screen and #{$desktop} {
            font-size: 1.5em;
          }
        }
        p {
          font-size: 0.5em;
          padding: 0 1vw 0 1vw;
          margin: 1.5vh 0 0 0;
          text-indent: 2vw;
          @media screen and #{$tablet} {
            font-size: 0.9em;
          }
          @media screen and #{$desktop} {
            font-size: 1.3em;
          }
        }
      }
    }
  }
}
.doc_lists {
  display: flex;
  justify-content: space-evenly;
  padding: 0;
  ul {
    color: darkblue;
    font-size: 0.7em;
    list-style-type: square;
    line-height: 1.5em;
    margin: 10px 0 14px -25px;
    @media screen and (min-height: 800px) {
        margin: 0 0 5px -27px;
    }
    @media screen and #{$tablet} {
      font-size: 1em;
      margin: 10px 0 14px -25px;
    }
    @media screen and #{$desktop} {
      font-size: 1.5em;
      margin: 10px 0 14px -25px;
    }
    li {
      color: $MainColor;
      font-size: 0.7em;
      line-height: 1.5em;
      a {
        text-decoration: none;
        color: $MainColor;
        &:hover {
          color: darkblue;
        }
      }
    }
  }
}
footer {
  background: darkblue;
  border: 3px solid cornflowerblue;
  border-radius: 10px;
  height: 8vh;
  min-height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  @media screen and #{$mobile} {
    @media screen and (min-height: 800px) {
      height: 5vh;
    }
  }


  #gh {
    @media screen and #{$tablet} {
      width: 5.5em;
    }
    @media screen and #{$desktop} {
      width: 8em;
    }
    width: 3.5em;
    content: url('/assets/images/GitHub_logo.png');
    &:hover {
      content: url('/assets/images/GitHub_hover.png');
    }
  }

  #lin {
    @media screen and #{$tablet} {
      width: 7em;
    }
    @media screen and #{$desktop} {
      width: 9em;
    }
    width: 4.5em;
    content: url('/assets/images/linkedin_logo.png');
    padding: 6px;
    &:hover {
      content: url('/assets/images/linkedin_hover.png');
    }
  }
}
