.app_container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  .gray_bg {
    background-color: hsla(0, 0%, 0%, 0.5);
    width: 100vw;
    height: 120vh;
    z-index: 1;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
  }
  .modal {
    @media screen and #{$tablet} {
      min-width: 70vw;
    }
    @media screen and #{$desktop} {
      max-width: 50vw;
    }
    position: absolute;
    width: 90vw;
    max-width: 90vw;
    height: auto;
    background: $gradient1;
    top: 35px;
    border: 3px solid darkblue;
    box-shadow: $boxShadow;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;

    header {
      border-radius: 10px;
      text-align: center;
      background: darkblue;
      border: 3px solid cornflowerblue;
      height: 8vh;
    }
    main {
      background-image: url('/assets/images/modal_bg.gif');
      background-position: center;
      background-size: contain;
      overflow: hidden;
      background-repeat: no-repeat;
      background-color: #066ACA;
      border: 3px solid white;
      border-radius: 10px;
      height: auto;
      display: flex;
      justify-content: space-evenly;
      flex-direction: column;
      box-shadow: $innerShadow;
      h3 {
        text-align: center;
      }
      article {
        h5 {
          padding-left: 5vw;
          color: darkblue;
          margin: 15px 0 0 0;
          font-size: 2vh;
        }
        p {
          font-size: 1.5vh;
          padding: 0 1vw 0 1vw;
          margin: 2vh 0 0 0;
          text-indent: 2vw;
        }
      }
    }
  }
}
.doc_lists {
  display: flex;
  justify-content: space-evenly;
  padding: 0;
  ul {
    color: darkblue;
    font-size: 2vh;
    list-style-type: square;
    line-height: 4.5vh;
    margin: 0 0 1vh 0;
    li {
      color: $MainColor;
      font-size: 1.5vh;
      line-height: 2.5vh;
      a {
        text-decoration: none;
        color: $MainColor;
        &:hover {
          color: darkblue;
        }
      }
    }
  }
}
footer {
  background: darkblue;
  border: 3px solid cornflowerblue;
  border-radius: 10px;
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  #gh {
    width: 3.5em;

    content: url('/assets/images/GitHub_logo.png');

    &:hover {
      content: url('/assets/images/GitHub_hover.png');
    }
  }

  #lin {
    width: 4em;
    content: url('/assets/images/linkedin_logo.png');
    padding: 6px;
    &:hover {
      content: url('/assets/images/linkedin_hover.png');
    }
  }
}
