
.inp {
  position: relative;
  margin: 0 auto;
  width: 37vw;

  .label {
    position: absolute;
    top: -3px;
    left: 0;
    font-size: 1.4em;
    color: white;
    font-weight: 500;
    transform-origin: 0 0;
    transition: all 0.2s ease;

    @media screen and #{$desktop} {
      font-size: 3.5vh;
      top: -35%;
      @media screen and (min-height: 1300px) {
        font-size: 3vh;
      }
    }

  }
  .border {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;
    background: darkblue;
    transform: scaleX(0);
    transform-origin: 0 0;
    transition: all .15s ease;
  }
}

.search_module {
  @media screen and #{$tablet} {
    width: 70vw;
    height: 15vh;
    min-width: 650px;
    min-height: 120px;
  }
  @media screen and #{$desktop} {
    width: 50vw;
    min-width: 840px;
    height: 20vh;
    max-height: 200px;
  }
  max-width: 450px;
  min-width: 300px;
  width: 90vw;
  height: 12vh;
  min-height: 85px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column-reverse;
  align-content: space-evenly;
  background: $gradient1;
  border-radius: 15px;
  margin-top: 3vh;
  position: relative;
  box-shadow: $boxShadow, $innerShadow;
  border: 3px solid white;
  @include transition();
  .search_button {
    //@media screen and #{$tablet} {
    //  bottom: 50%;
    //}
    //@media screen and #{$desktop} {
    //  bottom: 50%;
    //}
    position: absolute;
    bottom: 30%;
    right: 4vw;
  }
  form {
    .inp {
      //@media screen and #{$tablet} {
      //  bottom: 50%;
      //}
      //@media screen and #{$desktop} {
      //  bottom: 8vh;
      //}
      position: absolute;
      bottom: 40%;
      left: 4vw;
      width: 65%;
    }
    input {
      @media screen and #{$tablet} {
        font-size: 1.4em;
        padding: 3% 1% 1.5% 2%;
      }
      @media screen and #{$desktop} {
        font-size: 2.5vh;
        padding: 1% 1% 1% 2%;
        @media screen and (min-height: 1300px) {
          font-size: 2vh;
        }
      }
      width: 100%;
      border: none;
      font-family: inherit;
      padding: 2% 1% 1% 2%;
      height: 3vh;
      font-size: 1.7vh;
      font-weight: 500;
      border-bottom: 2px solid white;
      background: none;
      border-radius: 0;
      color: white;
      transition: all .15s ease;

      &:hover {
        background: rgba(34, 50, 84, 0.03);
      }
      &:not(:placeholder-shown) + span {
        color: darkblue;
        transform: translateY(-17px) scale(.75);
      }
      &:focus {
        background: none;
        outline: none;

      }
    }
  }
  .search_error {
    font-size: 2vh;
    margin-left: 4vw;
    color: darkred;
    text-shadow: $textHover;
    @media screen and #{$desktop} {
      font-size: 2.5vh;
      margin-bottom: 2vh;
    }
  }
}
.inp input:focus + span {
  color: darkblue;
  transform: translateY(-17px) scale(0.75);
}

.inp input:focus + span + .border {
  transform: scaleX(1);
}