//Tooltips Main Indicator
.tooltip {
  display:inline-block;
  position:relative;
  text-align:left;
  .tooltipText {
    span {
      color: #000066;
    }
  }
}

.tooltip .right {
  width: 20vw;
  height: auto;
  top:50%;
  left:100%;
  margin-left:20px;
  transform:translate(0, -50%);
  padding:10px;
  color:white;
  background-color:#6666CC;
  font-weight:normal;
  font-size:1.6vh;
  border-radius:8px;
  position:absolute;
  z-index:1;
  box-sizing:border-box;
  border:1px solid #000066;box-shadow:0 1px 8px rgba(0,0,0,0.5);
  visibility:hidden; opacity:0; transition:opacity 0.8s;
}

.tooltip:hover .right {
  visibility:visible; opacity:1;
}

.tooltip .right i {
  position:absolute;
  top:50%;
  right:100%;
  margin-top:-12px;
  width:12px;
  height:24px;
  overflow:hidden;
}

.tooltip .right i::after {
  content:'';
  position:absolute;
  width:12px;
  height:12px;
  left:0;
  top:50%;
  transform:translate(50%,-50%) rotate(-45deg);
  background-color: $gradient1;
  border:1px solid #000066;box-shadow:0 1px 8px rgba(0,0,0,0.5);
}
// Tooltips OtherIndicators

.tooltip {
  display:inline-block;
  position:relative;
  text-align:left;
  .tooltipText{
    line-height: 2vh;
    text-align: justify;
  }
}

.tooltip .bottom {
  width: 15vw;
  height: auto;
  top: 150px;
  left:50%;
  transform:translate(-50%, 0);
  padding:10px;
  color:white;
  background-color:#6666CC;
  font-size:1.6vh;
  border-radius:8px;
  position:absolute;
  z-index:1;
  border:1px solid #000066;box-shadow:0 1px 8px rgba(0,0,0,0.5);
  visibility:hidden; opacity:0; transition:opacity 0.8s;
}

.tooltip:hover .bottom {
  visibility:visible; opacity:1;
}

.tooltip .bottom i {
  position:absolute;
  bottom:100%;
  left:50%;
  margin-left:-12px;
  width:24px;
  height:12px;
  overflow:hidden;
}

.tooltip .bottom i::after {
  content:'';
  position:absolute;
  width:12px;
  height:12px;
  left:50%;
  transform:translate(-50%,50%) rotate(45deg);
  background-color:#6666CC;
  border:1px solid #000066;box-shadow:0 1px 8px rgba(0,0,0,0.5);
}
////tooltips
//
//.tooltip {
//  position: relative;
//  display: inline-block;
//  border-bottom: 1px dotted black;
//}
//
//.tooltip .tooltipText {
//  visibility: hidden;
//  width: 20vw;
//  height: auto;
//  background-color: cornflowerblue;
//  color: white;
//  text-align: center;
//  border-radius: 20px;
//  padding: 5px 0;
//  font-size: 2vh;
//
//  /* Position the tooltip */
//  position: absolute;
//  z-index: 1;
//  right: -25vw;
//  top: -3vh;
//}
//
//.tooltip:hover .tooltipText {
//  visibility: visible;
//  span {
//    color: darkblue;
//  }
//}