//Tooltips Main Indicator
.tooltip {
  display: inline-block;
  position: relative;
  .tooltipText {
    line-height: 2vh;
    //text-align: justify;
    span {
      color: #000066;
    }
  }
}
.tooltip .top {
  width:190px;
  height: auto;
  top:-12px;
  left:40%;
  transform:translate(-50%, -100%);
  padding:10px;
  color:#FFFFFF;
  font-weight:normal;
  font-size:1.6vh;
  border-radius:8px;
  position:absolute;
  border:1px solid #000066;
  background-color:#6666CC;
  box-shadow: $boxShadow;
  visibility:hidden; opacity:0;
  transition:opacity 0.8s;
  z-index:99;
}

.tooltip:hover .top {
  visibility:visible; opacity:1;
}

.tooltip .top i {
  position:absolute;
  top:100%;
  left:50%;
  margin-left:-12px;
  width:24px;
  height:12px;
  overflow:hidden;
}

.tooltip .top i::after {
  content:'';
  position:absolute;
  width:12px;
  height:12px;
  left:50%;
  transform:translate(-50%,-50%) rotate(45deg);
  border:1px solid #000066;
  background-color:#6666CC;
}
// Tooltips OtherIndicators

.tooltip .bottom {
  @media screen and #{$tablet} {
    width: 200px;
  }
  @media screen and #{$desktop} {
    width: 250px;
    top: 150%;
    left: 50%;
  }
  width: 100px;
  height: auto;
  top: 100%;
  left:50%;
  transform:translate(-50%, 0);
  padding:10px;
  color:white;
  font-size: 1.6vh;
  border-radius:8px;
  position:absolute;
  z-index: 9999;
  border:1px solid #000066;
  background-color:#6666CC;
  box-shadow: $boxShadow;
  visibility:hidden; opacity:0;
  transition:opacity 0.8s;
}

.tooltip:hover .bottom {
  visibility:visible; opacity:1;
  z-index:9999;
}

.tooltip .bottom i {
  position:absolute;
  bottom:100%;
  left:50%;
  margin-left:-12px;
  width:24px;
  height:12px;
  overflow:hidden;
  z-index: 9999;
}

.tooltip .bottom i::after {
  content:'';
  position:absolute;
  width:12px;
  height:12px;
  left:50%;
  transform:translate(-50%,50%) rotate(45deg);
  background-color:#6666CC;
  border:1px solid #000066;
  z-index: 9999;
}







