$gradient1 : linear-gradient(to bottom, rgba(160,170,228,1) 0%, rgba(160,170,228,1) 1%, rgba(82,99,199,1) 100%);
$MainColor: #e9e9e9;
$boxShadow: 0px 0px 13px 3px rgba(31,24,31,1);
$boxShadowBefore: 0px 0px 27px 3px rgba(255,255,255,0.89);
$textShadow: 0px 0px 23px rgba(255, 255, 255, 1);
$textHover: 0px 0px 14px rgba(0, 0, 0, 1);
$innerShadow: inset 0px 0px 28px 0px rgba(18,11,18,1);
$smallerInnerShadow: inset 0px 0px 5px 2px rgba(0,0,0,0.75);
$mobile : "(max-width: 767px)";
$tablet: "(min-width: 768px) and (max-width: 1023px)";
$desktop: "(min-width: 1024px)";